<header class="container">
  <div class="grid">
    <div>
      <h1>Jakub Korsak</h1>
      <p>This is my cv, please find any relevant information below</p>
      <p>Also make sure to check out my Github to see what I'm working on after work</p>
    </div>
    <img style="max-height:300px" src="/image/picture.jpeg" />
  </div>
  <h2>Links</h2>
  <ul>
    <li>
      <a href="https://github.com/korsakjakub">https://github.com/korsakjakub</a>
    </li>
    <li>
      <a href="mailto:jakub@korsak.xyz">jakub@korsak.xyz</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/jakub-korsak-b1b074214/">https://www.linkedin.com/in/jakub-korsak-b1b074214/</a>
    </li>
  </ul>
  <hr>
  <hr>
  <hr>
</header>
