{{ define "main" }}

<div class="container">
  <h1>Experience</h1>
  {{ range $.Site.Data.experience -}}
  <div>
    <h3>{{ .company }}</h3>
    <h4>{{ .role }} ({{ .start }} - {{ .end }})</h4>
    <ul>
      {{ range .skills }}
      <li>
        {{ . }}
      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
  <hr>
  <hr>
  <hr>
  <h1>Certificates</h1>
  <div>
    <p>Microsoft Certified: Azure Fundamentals AZ-900</p>
    <p>Mulesoft Certified Developer</p>
  </div>
  <hr>
  <hr>
  <hr>
  <h1>Education</h1>
  {{ range $.Site.Data.education -}}
  <div>
    <p>{{ .school }}</p>
    <p>{{ .subject }}</p>
    <p>{{ .start }} - {{ .end }}</p>
  </div>
  <hr>
  <hr>
    {{ end }}
</div>
{{ end }}
